@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
body{
    color: rgba(255, 255, 255, 0.8);
    background-color: hsl(216, 25%, 12%);
}
p{
    font-size: 18px;
}
nav{
    padding: 1% 5% 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #100720;
    background-color: hsl(218,28%,13%);
}
nav img{
    width: 80px;
}
nav div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
nav div a{
    font-size: 18px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    animation-duration: 1s;
    transition: 0.5s;
}
nav div a:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.carrusel{
    height: 90vh;
    width: 100%;
}
.carrusel img{
    height: 90vh;
}


.information{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5%;
}
.mobileMenu{
    visibility: hidden;
    display: none;
}
.qsomos{
    width: 1000px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.qsomos h2{
    text-align: center;
}
.infoSomos{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.infoSomos p{
    width: 400px;
}
.infoSomos img{
    width: 300px;
}

.infohacemos{
    flex-direction: row-reverse;
}




footer{
    background-color: hsl(218,28%,13%);
    display: flex;
    width: 100%;
    padding: 5%;
    justify-content: space-evenly;
    margin-top: 5%;
}
footer div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer div a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-size: 20px;
}
footer div a:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

@media (max-width:1000px){
    .information{
        width: 90%;
    }
    p{
        font-size: 15px;
    }
    .infoSomos img{
        width: 200px;
    }
    .qsomos{
        width: 100%;
        font-size: 14px;
    }
    nav div{
        width: 50%;
    }
    .carrusel{
        height: 70vh;
    }
    .carrusel img{
        height: 70vh;
    }
}

@media (max-width:600px){
    .navpc{
        content: url('./img/burger.svg');
        width: 40px;
        height: 40px;
        color: white;
    }
    .closeMenu{
        content: url('./img/close.png');
        z-index: 20;
    }
    nav{
        align-items: center;
    }
    .infoSomos p{
        font-size: 15px;
        width: 100%;
    }
    .qsomos{
        display: flex;
        flex-direction: column;
    }
    .infoSomos{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    footer div a{
        font-size: 15px;
    }
    footer{
        padding: 10% 5% 10%;
        margin-top: 5%
    }
    .mobileMenu{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: hsl(216, 25%, 12%);
        visibility: hidden;
        z-index: 10;
        transition: 0s;
    }
    .mobileMenu div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 30%;
    }
    .mobileMenu div a{
        color: white;
        text-decoration: none;
        font-size: 25px;
    }
    .mobileMenu div a:hover{
        transform: scale(1.2);
        transition: 0.5s;
    }
    .mostrar{
        visibility: visible;
        display: block;
    }
    .carousel-item{
        height: 50vh;
    }
    .carrusel{
        height: 50vh;
    }
}

@media (max-width:500px){
    nav img{
        width: 70px;
    }
    .carousel-item{
        height: 40vh;
    }
    .carrusel{
        height: 40vh;
    }
}

