@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
body{
    background-color: hsl(218,28%,13%);
}
.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.signup img{
    width: 200px;
}
main{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 60%;
    padding: 3% 0;
    background-color: #9081aa1a;
}
form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
form div input{
    width: 90%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}
form div input::placeholder{
    font-size: 20px;
}
form button{
    width: 60%;
    margin-left: 20%;
    background-color: #FFC23C;
    height: 7vh;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}
form button:hover{
    transition: 0.5s;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-height:800px){
    main{
        height: 100vh;
    }
    .signup img{
        width: 150px;
    }
    form div input{
        height: 20px;
    }
    form div input::placeholder{
        font-size: 18px;
    }
}
@media (max-width:900px){
    form{
        width: 90%;
        margin-left: 5%;
    }
    form div input{
        width: 80%;
        margin-left: 0;
    }
    form{
        padding: 5% 0;
    }
}